$primary-color: #000050;
$primary-color-light: #333882;
$danger-color: #e33636;
$body-bg-color: #edecec;
$line-color-dark: #a19eb9;
$font-primary: 'Roboto', sans-serif;
$font-label-size: 0.9em;
$font-general-size: 0.9em;
$title-size-3: 1.2em;
$title-weight: 500;
$side-bar-width: 190px;
