.container {
  background-color: $primary-color;
  animation: hideMenu 0.3s ease forwards;
  @include breakpoint(medium) {
    position: fixed;
    height: 100%;
    z-index: 10;
  }
  &.toggle {
    animation: toggleMenu 0.3s ease forwards;
  }
  .logoContainer {
    width: auto;
    height: 75px;
    padding: 10px;
    text-align: center;
    .logoBig {
      height: auto;
      width: calc(100% - 20px);
      max-width: 135px;
      g {
        fill: white;
      }
    }
    .logoSmall{
      width: 21px;
      height: auto;
      margin-top: 10px;
      path {
        fill: white;
      }
    }
  }
}

@include widthAnimation(toggleMenu, $side-bar-width, $side-bar-width-toggle);
@include widthAnimation(hideMenu, $side-bar-width-toggle, $side-bar-width);